@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face { 
    font-family: SahelFD; 
    font-weight: 900; 
    src: url("/fonts/Sahel-Black-FD.woff2") format("woff2");
  }
  @font-face { 
    font-family: SahelFD; 
    font-weight: 400; 
    src: url("/fonts/Sahel-FD.woff2") format("woff2");
  }
  html {
    font-family: SahelFD, sans-serif;
    font-weight: 400;
  }
  h1, h2, h3, h4, h5, h6 { font-weight: 900; }

  :root {
    --hue: 200;
    --sat-neu: 20%;

    --clr-neutral-50: hsl(var(--hue), var(--sat-neu), 95%);
    --clr-neutral-100: hsl(var(--hue), var(--sat-neu), 90%);
    --clr-neutral-200: hsl(var(--hue), var(--sat-neu), 80%);
    --clr-neutral-300: hsl(var(--hue), var(--sat-neu), 70%);
    --clr-neutral-400: hsl(var(--hue), var(--sat-neu), 60%);
    --clr-neutral-500: hsl(var(--hue), var(--sat-neu), 50%);
    --clr-neutral-600: hsl(var(--hue), var(--sat-neu), 40%);
    --clr-neutral-700: hsl(var(--hue), var(--sat-neu), 30%);
    --clr-neutral-800: hsl(var(--hue), var(--sat-neu), 20%);
    --clr-neutral-900: hsl(var(--hue), var(--sat-neu), 10%);
    --clr-neutral-950: hsl(var(--hue), var(--sat-neu), 5%);

    --clr-primary-100: hsl(var(--hue), 100%, 90%);
    --clr-primary-200: hsl(var(--hue), 100%, 80%);
    --clr-primary-300: hsl(var(--hue), 100%, 70%);
    --clr-primary-400: hsl(var(--hue), 100%, 60%);
    --clr-primary-500: hsl(var(--hue), 100%, 50%);
    --clr-primary-600: hsl(var(--hue), 100%, 40%);
    --clr-primary-700: hsl(var(--hue), 100%, 30%);
    --clr-primary-800: hsl(var(--hue), 100%, 20%);
    --clr-primary-900: hsl(var(--hue), 100%, 10%);
  }
  [data-theme="dark"] {
    --clr-bg-bg: var(--clr-neutral-950);
    --clr-bg-base: var(--clr-neutral-900);
    --clr-bg-muted: var(--clr-neutral-800);
    --clr-primary: var(--clr-primary-400);
    --clr-text-base: var(--clr-neutral-100);
    --clr-text-muted: var(--clr-neutral-300);
  }
  [data-theme="light"] {
    --clr-bg-bg: var(--clr-neutral-50);
    --clr-bg-base: var(--clr-neutral-100);
    --clr-bg-muted: var(--clr-neutral-200);
    --clr-primary: var(--clr-primary-600);
    --clr-text-base: var(--clr-neutral-900);
    --clr-text-muted: var(--clr-neutral-700);
  }
}

@layer components {
  .range {
    @apply cursor-pointer bg-transparent relative disabled:opacity-50 disabled:cursor-not-allowed;
    -webkit-appearance: none;
    appearance: none;
  }
  .range::before {
    @apply top-0 bottom-0 start-0 h-2 bg-skin-primary absolute rounded-full;
    width: var(--range-value, 0%);
    content: "";
  }
  .range::-webkit-slider-runnable-track {
    @apply h-2 bg-skin-bg-muted rounded-full;
  }
  .range::-webkit-slider-thumb {
    @apply h-4 w-4 bg-skin-bg-base rounded-full z-10 relative;
    -webkit-appearance: none;
    appearance: none;
    margin-top: calc(calc(0.5rem / 2) - calc(1rem / 2));
    border: 2px solid var(--clr-primary);
  }
  .range:focus {
    @apply outline-none;
  }
  .range:focus::-webkit-slider-thumb {
    outline: 2px solid var(--clr-primary);
    outline-offset: 0.1rem;
  }
}