@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face { 
    font-family: SahelFD; 
    font-weight: 900; 
    src: url("/fonts/Sahel-Black-DF.woff2") format("woff2");
  }
  @font-face { 
    font-family: SahelFD; 
    font-weight: 400; 
    src: url("/fonts/Sahel-DF.woff2") format("woff2");
  }
  html {
    font-family: SahelFD, sans-serif;
    font-weight: 400;
  }
  h1, h2, h3, h4, h5, h6 { font-weight: 900; }

  :root {
    --hue: 200;
    --sat-neu: 20%;

    --clr-neutral-100: hsl(var(--hue), var(--sat-neu), 90%);
    --clr-neutral-200: hsl(var(--hue), var(--sat-neu), 80%);
    --clr-neutral-300: hsl(var(--hue), var(--sat-neu), 70%);
    --clr-neutral-400: hsl(var(--hue), var(--sat-neu), 60%);
    --clr-neutral-500: hsl(var(--hue), var(--sat-neu), 50%);
    --clr-neutral-600: hsl(var(--hue), var(--sat-neu), 40%);
    --clr-neutral-700: hsl(var(--hue), var(--sat-neu), 30%);
    --clr-neutral-800: hsl(var(--hue), var(--sat-neu), 20%);
    --clr-neutral-900: hsl(var(--hue), var(--sat-neu), 10%);

    --clr-primary-100: hsl(var(--hue), 100%, 90%);
    --clr-primary-200: hsl(var(--hue), 100%, 80%);
    --clr-primary-300: hsl(var(--hue), 100%, 70%);
    --clr-primary-400: hsl(var(--hue), 100%, 60%);
    --clr-primary-500: hsl(var(--hue), 100%, 50%);
    --clr-primary-600: hsl(var(--hue), 100%, 40%);
    --clr-primary-700: hsl(var(--hue), 100%, 30%);
    --clr-primary-800: hsl(var(--hue), 100%, 20%);
    --clr-primary-900: hsl(var(--hue), 100%, 10%);
  }
  [data-theme="dark"] {
    --clr-bg-base: var(--clr-neutral-900);
    --clr-bg-muted: var(--clr-neutral-800);
    --clr-primary: var(--clr-primary-400);
    --clr-text-base: var(--clr-neutral-100);
    --clr-text-muted: var(--clr-neutral-300);
  }
  [data-theme="light"] {
    --clr-bg-base: var(--clr-neutral-100);
    --clr-bg-muted: var(--clr-neutral-200);
    --clr-primary: var(--clr-primary-600);
    --clr-text-base: var(--clr-neutral-900);
    --clr-text-muted: var(--clr-neutral-700);
  }
}